<!DOCTYPE html>
<html>

<body>

  <div class="header">
    <div class="search-container">
      <input type="text" placeholder="Search...">
      <button type="submit">&#128269;</button>
    </div>

    <div id="main">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </div>
  </div>

  <div class="container1">
    
    <img class="mySlides" src="assets/images/snack1.jpg">
    <img class="mySlides" src="../assets/images/snack2.jpg">
    <br>
    <a href="https://api.whatsapp.com/send/?phone=601161647506&text=I+would+like+to+shop+from+YAFA+Gift+Box&type=phone_number&app_absent=0" target="_blank">
      <button>Shop Now</button>
    </a>
  </div>

  <div class="container3">
    <p>Welcome to YAFA Gift Box</p>

    Elevate Every Occasion with Thoughtful Gifting

    Greetings! We are Nurul Yasmin and Farina Fasha, the creative minds behind YAFA Gift Box. With a shared passion for spreading joy through thoughtful gifting, we've curated a diverse collection of exquisite gift boxes that are perfect for any occasion.

    At YAFA Gift Box, we specialize in creating unique and memorable gift boxes that make every moment extra special. For birthdays, our carefully curated selections offer something for everyone.

    Embarking on this entrepreneurial journey has been a thrilling adventure for us, and we're excited to share our passion for gifting with you. With YAFA Gift Box, you can trust that every gift box is crafted with care and attention to detail, making it the perfect way to show your appreciation and celebrate life's special moments.

    Join us on this journey of spreading love and joy through thoughtful gifting. Whether you're surprising a loved one or treating yourself, YAFA Gift Box is here to make every occasion unforgettable.

    Thank you for choosing YAFA Gift Box for all your gifting needs. We can't wait to help you create lasting memories!

    <p>Warm regards,</p>

    Nurul Yasmin and Farina Fasha
    Co-founders, YAFA Gift Box

  </div>
  <div class="container4">
    <p>Feel free to contact us if you have any suggestions</p>
    Contacts
    <br>(01169750161 Yasmin)
    (0143079053 Farina)<br>
    Email – nyhameed44@gmail.com
    - F467357@gmail.com
  </div>
</body>

</html>
